@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');


$headers: 'space grotesk';
$display: 'Nunito Sans';
$ital: 'Playfair Display';
$dark: #333333;
$light: #ededed;

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img {
    width: 100%;
}

.wrapper {
    max-width: 40rem;
    min-width: 25rem;
    margin: 4rem 0;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}


/* HEADER COMPONENT */
.header {
    background: $dark;
    // background: $light;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;

    a {
        text-decoration: none;
        color: $light;
    }

    nav {
       
        .actions {
            display: flex;
            justify-content: space-between;

            a, button {
                margin-left: 1rem;
            }
        }
    }
}


/* HOME SECTION */
#home {
    background: $dark;
    padding: 0 4rem;
    min-height: 100vh;

    h1 {
        font-family: $headers;
    }
    
    .wrap {
        position: relative;
        top: 4rem;
    }
    
    .intro {
        width: 80%;

        h1 {
            text-transform: capitalize;
            color: rgba($light, .8);
            font-size: 5rem;
        }
    }
    
    .categories {
        margin: 1rem 0 2rem 0;
        
        button {
            margin-right: 1rem;
            padding: 0;
            text-transform: capitalize;
            background: transparent;
            border: none;
            color: rgba($light, .8);
            font-family: $display;
            font-size: 1.1rem;
        }
    }

    .posts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        grid-auto-rows: minmax(100px, auto);
        
        .post {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            color: $light;
            
            &:nth-child(odd) {
              align-self: start;
            }
        
            &:nth-child(even) {
              align-self: end;
            }

            h1 {
                color: $light;
            }

            .details {
                display: flex;
                justify-content: space-between;
                width: 100%;
                font-family: $ital;
                margin: 1rem 0;
                font-size: .8rem;

                a {
                    color: $light;
                }
            }

            .summary {
                font-family: $display;
                color: rgba($light, .8);
            }

            a.edit {
                color: $light;
                border: 1px solid rgba($light, .8);
                font-family: $display;
                padding: 0.15rem 1.3rem;
                margin-top: 1rem;

                &:hover {
                    background: $light;
                    color: $dark;
                }
            }
          }
      }
      
}


/* POST PAGE */
#post {
    padding: 0 4rem;
    display: flex;
    justify-content: center;
    background: $light;
    font-family: $display;
    min-height: 100vh;

    .wrapper {
        color: $dark;

        h1.title {
            font-family: $headers;
            font-weight: 700;
            font-size: 2rem;
        }

        .summary {
            margin: 1rem 0;
        }

        a.author {
            color: black;
            font-family: $ital;
            font-size: .8rem;
        }

        img {
            margin: 1rem 0;
        }
    }
}


/* EDIT & CREATE PAGES */
#edit, #create {
    display: flex;
    justify-content: center;
    background: $light;
    min-height: 100vh;
    font-family: $display;
    color: $dark;

    form {
        width: 100%;
        // background: red;
    }
    
    .categories-input {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        select {
            padding: 0.5rem;
            background: transparent;
            border: 2px solid rgba($dark, .1);
            font-family: $display;
        }
    }

    input.text {
        margin-bottom: 1rem;
        padding: .5rem;
        border: 2px solid rgba($dark, .1);
        width: 100%;
        background: transparent;
        font-family: $display;

        &:valid {
            background: transparent;
        }

        &::placeholder {
            font-family: $display;
            margin-left: 0.5rem;
        }
    }

    .file-input-container {
        border: 2px solid rgba($dark, .1);
        margin: 1rem 0;
        width: 100%;

        input {
            display: none;
        }

        .file-label {
            display: inline-block;
            padding: 10px 20px;
            background: transparent;
            color: $dark;
            border: none;
            cursor: pointer;
        }

        .button {
            padding: .3rem 1rem;
            font-family: $display;
            border: 2px solid rgba($dark, .1);

            &:hover {
                border: 2px solid rgba(#2580ff, .3);
            }
        }
    }

    .quill {
        margin-bottom: 3rem;
        position: relative;

        .ql-container {
            font-family: $display;
            font-size: 1rem;
            color: $dark;
            border-top: 1px solid #ccc;
        }

        .ql-toolbar {
            position: absolute;
            bottom: -2.5rem;
            left: 0;
            right: 0;
        }
    }

    button.submit {
        width: 100%;
        padding: 0.6rem;
        font-family: $display;
        color: $light;
        background: $dark;
        border: none;
    }
}


/* CREATE PAGE */
/* EDIT PAGE */


/* LOGIN & REGISTER PAGES */
#register, #login {
    height: 100vh;
    width: 100vw;
    background: $light;
    display: flex;
    justify-content: center;

    form {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        padding: 1rem;

        .name {
            // width: 100%;
            // background: red;
        }

        input {
            margin: 0.5rem;
            padding: 0.5rem;
        }

        label {
            width: 100%;
        }

        input.password, input.email, input.username {
            width: 100%;
        }
    }
}


/* LOGIN PAGE */
/* REGISTER */


/* MEDIA QUERIES */
@media (max-width: 768px) {

    .wrapper {
        width: 100%;
        margin: 1rem;
    }

    #home {
        padding: 0 1rem;

        .intro {

            h1 {
                font-size: 3.5rem;
            }
        }

        .posts {
            grid-template-columns: 1fr;
        }
    }

    #post {
        padding: 0 1rem;
    }
}