@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');


$headers: 'space grotesk';
$sans: 'Nunito Sans';
$ital: 'Playfair Display';

$black: rgb(18,18,18);
$light: rgb(198,198,198);
$dark: rgb(135, 135, 135);
$accent: #003cff;

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0 4rem;
    width: 100vw;
    overflow-x: hidden;
    background: $black;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}


/* back button */
button.action {
    border: none;
    border: 1px solid $dark;
    background: transparent;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    color: $light;
    
    .uil {
        font-size: 1.4rem;
        margin: 0;
    }

    &:hover {
        background: white;
        color: $black;
    }
}


/* absolute button */
button.absolute-btn {
    position: fixed;
    background: $black;
    bottom: 5rem;
    right: 3rem;
    border: none;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);

    .uil {
        font-size: 2rem;
        color: white;
    }
}


/* wrapper */
.wrapper {
    max-width: 50rem;
    margin: 1rem 0;
}


/* HEADER */
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    a, button {
        border: none;
        margin: 0;
        padding: 0;
        background: transparent;
        font-size: 1rem;
        padding: 1rem 0;
        // text-decoration: none;
        color: $light;
        font-family: $sans;
    }

    nav {
        display: flex;
        align-items: center;

        a, button {
            margin: 0 .5rem;
            text-transform: uppercase;
            font-weight: bold;
        }

        .legals {
            position: relative;

            .uil {
                font-size: 1.2rem;
                margin-left: 0.3rem;
                transition: 200ms ease;
            }

            ul.legals-modal {
                margin: 0;
                padding: 0;
                position: absolute;
                left: 0;
                right: 0;
                top: 90%;
                padding: 0.5rem;
                background: $black;
                box-shadow: 0 0 5px rgba(0, 0, 0, .2);
                transform-origin: top;
                list-style: none;

                li {
                    margin: .5rem 0;
                    
                    a {
                        text-transform: capitalize;
                        font-weight: lighter;
                    }
                }
            }
        }
    }
}


/* HOME */
#home {

    .intro {
        color: $light;
        font-family: $headers;
        width: 75%;
        
        h1 {
            font-size: 6rem;
            font-weight: 700;
        }
    }

    .categories {

        button {
            border: none;
            background: transparent;
            color: $light;
            font-family: $sans;
            font-size: 1rem;
            padding: 0;
            margin-right: 1rem;
        }
    }

    .posts {
        margin: 2rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        // gap: 1rem;

        .post-item {
            padding: 2rem;
            border-radius: 20px;
            transition: 200ms ease-in-out;
            
            &:hover {
                box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
            }

            a.image {

                .item {
                    background: $dark;
                    width: 100%;
                    aspect-ratio: 2;
                    border-radius: 20px;
                    margin-bottom: 0.5rem;
                    overflow: hidden;

                    img {
                        width: 100%;
                        object-fit: cover;
                        transition: 200ms ease-in-out;

                        &:hover {
                            scale: 1.05;
                        }            
                    }
                }
            }

            h1.title {
                font-family: $headers;

                a {
                    color: $light;
                }
            }

            .details {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-family: $ital;
                color: $dark;
                font-size: .8rem;
                margin: .5rem 0;

                a {
                    color: $dark;

                    &:hover {
                        color: $light;
                    }
                }
            }

            p.summary {
                font-family: $sans;

                a {
                    color: $dark;
                }
            }
        }
    }

    .pagination-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        
        .pagination {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            color: $light;
            font-family: $sans;

            button {
                border: none;
                background: rgba($dark, .2);
                height: 1.8rem;
                width: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                border-radius: 7px;

                &:hover {
                    background: $accent;
                }

                .uil {
                    font-size: 1.4rem;
                    margin: 0;
                    padding: 0;
                    color: $light;
                }
            }
        }
    }
}


/* POST */
#post {

    .wrapper {

        .actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1rem 0;

            .action-buttons {
                display: flex;
                align-items: center;
                gap: .5rem;
                position: relative;

                ul.actions-modal {
                    position: absolute;
                    background: $black;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    padding: 0.5rem;
                    top: 90%;
                    left: -1rem;
                    right: -1rem;
                    border-radius: 10px;
                    transform-origin: top;

                    li {
                        display: flex;
                        align-items: center;
                        padding: 0.2rem;
                        background: $black;
                        border-radius: 5px;
                        text-transform: capitalize;
                        color: $dark;
                        font-family: $sans;
                        cursor: pointer;

                        &:hover {
                            background: rgba($accent, .3);
                            color: $light;
                        }

                        .uil {
                            margin-right: 0.5rem;
                            color: $light;
                        }
                    }
                }
            }

        }
        
        .post-item {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .item {
                background: $dark;
                width: 100%;
                aspect-ratio: 2;
                border-radius: 20px;
                margin: 1rem 0;
                overflow: hidden;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            h3.category {
                // font-family: $sans;
                font-family: $ital;
                color: $accent;
                text-transform: uppercase;
            }

            h1.title {
                font-family: $headers;
                color: $light;
                font-size: 2rem;
            }

            .details {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-family: $ital;
                color: $dark;
                font-size: .8rem;
                margin: .5rem 0;

                a {
                    color: $dark;

                    &:hover {
                        color: $light;
                    }
                }
            }

            p.summary {
                font-family: $sans;
                color: $dark;
            }

            .content {
                font-family: $sans;
                color: $dark;
            }
        }
    }
}


/* POST, CREATE POST & EDIT POST */
#post, #create, #edit {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* CREATE POST & EDIT POST */
#create, #edit {

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        input {
            font-family: $sans;
            color: $dark;
        }

        input.text {
            border: none;
            background: transparent;
            padding: 0.3rem 0;
            border-bottom: 1px solid $dark;
            width: 100%;
        }

        .cat-file {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .file-input-container {
            border-radius: 20px;
    
            input {
                display: none;
            }
    
            .file-label {
                display: inline-block;
                background: transparent;
                color: $dark;
                border: none;
                cursor: pointer;
            }
    
            .button {
                padding: .3rem 1rem;
                font-family: $sans;
                border: 2px solid $dark;
                border-radius: 10px;
    
                &:hover {
                    border: 2px solid rgba($accent, .3);
                }
            }
        }

        .categories-input {
            color: $dark;
            font-family: $sans;
            position: relative;
            text-transform: capitalize;
            width: 8rem;

            .select {
                border: 2px solid $dark;
                padding: .5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 15px;
                cursor: pointer;

                .uil {
                    border: 1px solid $dark;
                    padding: 0 .2rem;
                    border-radius: 50%;
                }
            }

            .input {
                position: absolute;
                background: $black;
                cursor: pointer;
                box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
                left: 0;
                right: 0;
                padding: 0.5rem;
                z-index: 100;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                border-radius: 15px;
                transform-origin: top;

                .option {
                    padding: 0.5rem;
                    cursor: pointer;
                    border-radius: 10px;

                    &:hover {
                        background: rgba(0, 0, 0, .3);
                    }
                }
            }
        }

        .quill {
            color: $dark;
            font-family: $sans;
        }

        button.submit {
            border: none;
            background: #003cff;
            color: $light;
            padding: 0.5rem;
            font-family: $sans;
            font-weight: 700;
            text-transform: uppercase;
            border-radius: 5px;
        }
    }
}


/* LOGIN AND REGISTER */
#login, #register {

    .wrapper {
        // background: red;
        display: flex;
        justify-content: center;
    }

    .form-container {
        width: 320px;
        border-radius: 0.75rem;
        padding: 2rem;
        color: rgba(243, 244, 246, 1);
      }
      
      .title {
        text-align: center;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
      }
      
      .form {
        margin-top: 1.5rem;
      }
      
      .input-group {
        margin-top: 0.25rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
      }
      
      .input-group label {
        display: block;
        color: rgba(156, 163, 175, 1);
        margin-bottom: 4px;
      }
      
      .input-group input {
        width: 100%;
        border-radius: 0.375rem;
        border: 1px solid rgba(55, 65, 81, 1);
        outline: 0;
        background-color: rgba(17, 24, 39, 1);
        padding: 0.75rem 0;
        margin: 0;
        color: rgba(243, 244, 246, 1);
      }
      
      .input-group input:focus {
        border-color: rgba(167, 139, 250);
      }
      
      .forgot {
        display: flex;
        justify-content: flex-end;
        font-size: 0.75rem;
        line-height: 1rem;
        color: rgba(156, 163, 175,1);
        margin: 8px 0 14px 0;
      }
      
      .forgot a,.signup a {
        color: rgba(243, 244, 246, 1);
        text-decoration: none;
        font-size: 14px;
      }
      
      .forgot a:hover, .signup a:hover {
        text-decoration: underline rgba(167, 139, 250, 1);
      }
      
      .sign {
        display: block;
        width: 100%;
        background-color: rgba(167, 139, 250, 1);
        margin: 1rem 0;
        padding: 0.75rem;
        text-align: center;
        color: rgba(17, 24, 39, 1);
        border: none;
        border-radius: 0.375rem;
        font-weight: 600;
      }
      
      .social-message {
        display: flex;
        align-items: center;
        padding-top: 1rem;
      }
      
      .line {
        height: 1px;
        flex: 1 1 0%;
        background-color: rgba(55, 65, 81, 1);
      }
      
      .social-message .message {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: rgba(156, 163, 175, 1);
      }
      
      .social-icons {
        display: flex;
        justify-content: center;
      }
      
      .social-icons .icon {
        border-radius: 0.125rem;
        padding: 0.75rem;
        border: none;
        background-color: transparent;
        margin-left: 8px;
      }
      
      .social-icons .icon svg {
        height: 1.25rem;
        width: 1.25rem;
        fill: #fff;
      }
      
      .signup {
        text-align: center;
        font-size: 0.75rem;
        line-height: 1rem;
        color: rgba(156, 163, 175, 1);
      }
      
}